.site-credits {
  height: 476px;
  //background: url("../img/location.png") no-repeat bottom;
}

.site-credits__coop-invite {
  display: flex;
  height: 114px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  //width: 280px;
  justify-content: stretch;
}

.site-credits__invite-dealer {
  .cat-presentation__money;
  padding: 0;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
}

.site-credits__invite-address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
