/*Variables*/
@basic-white: #ffffff;
@basic-black: #000000;
@basic-green: #68b738;
@transparent-green: rgba(104, 183, 56, 0.85);
@border-light-grey: #e6e6e6;
@border-options-light-grey: #d9d9d9;
@bg-light-grey: #eaeaea;
@bg-options-light-grey: #f2f2f2;
@border-presentation-light-grey: #cdcdcd;
@special-dark-grey: #444444;






body {
  background: @basic-white;
  margin: 0;
  padding: 0;
  width: 320px;
  height: auto;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}

a {
  text-decoration: none;
  color: inherit;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
